package userview

import "github.com/AurelienS/airtime/web/viewmodel"

func getThemeValue(current string) string {
	if current == "light" {
		return "dark"
	}
	return "light"
}

templ ProfilButton(user viewmodel.UserView) {
	<div class="flex items-center gap-2 font-title">
		<span>{ user.Name }</span>
		<div class="h-full aspect-square ">
			<img class="h-9 rounded-full" src={ user.PictureURL }/>
		</div>
	</div>
}
