@tailwind base;
@tailwind components;

@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Webkit browsers like Chrome and Safari */
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}