@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5, h6 {
    @apply font-title
}

/* Appliquer TextRegular au reste du texte */
body {
    @apply font-text
}

* {
    box-sizing: border-box;
}

.bg-neutral {
    background-color: rgb(246 245 240);
}


@font-face {
    font-family: 'TextBold';
    src: url('/static/fonts/text-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TextItalic';
    src: url('/static/fonts/text-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TextRegular';
    src: url('/static/fonts/text-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitleBold';
    src: url('/static/fonts/title-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TitleRegular';
    src: url('/static/fonts/title-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


