@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: rgb(8, 76, 223);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title text-accent;
}

body {
  @apply font-text;
}

* {
  box-sizing: border-box;
}

.bg-neutral {
  background-color: rgb(246 245 240);
}

.bg-footer {
  background-color: rgba(8, 76, 223);
}

.bg-card {
  background-color: rgb(245, 238, 208);
}

.text-offgray {
  color: #4b5361;
}

.hidden-delete {
  display: none;
}

.hoverable:hover .hidden-delete {
  display: flex;
}

a {
  @apply font-italic text-accent-80 hover:underline cursor-pointer;
}

@font-face {
  font-family: "TextBold";
  src: url("/static/fonts/text-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TextItalic";
  src: url("/static/fonts/text-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "TextRegular";
  src: url("/static/fonts/text-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TitleBold";
  src: url("/static/fonts/title-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TitleRegular";
  src: url("/static/fonts/title-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
