root = "."
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./tmp/main"
  cmd = "make watch"
  delay = 0
  exclude_regex = ["^.*_templ\\.go$", "^ent/.*$"]
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "templ"]
  exclude_dir = ["node_modules", "ent", "logs", "internal/storage/ent "]
  include_file = []
  kill_delay = "0s"
  send_interrupt = true
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = true

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
