version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:3000"
    depends_on:
      - db
    volumes:
      - ./airtime/logs:/app/logs
      - ./wait-for-postgres.sh:/usr/wait-for-postgres.sh
    env_file:
      - .env
    environment:
      DB_NAME: db
      DB_PORT: 5432
    command: ["/bin/bash", "-c", "/usr/wait-for-postgres.sh db && /app/main"]
  db:
    image: postgres:16.1
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
