version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${EXTERNAL_PORT}:3000"
    depends_on:
      - db
    volumes:
      - ${LOG_PATH}:${LOG_PATH}
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
    command: >
      /bin/bash -c "
      while !</dev/tcp/db/5432; do
        echo 'Waiting for PostgreSQL...'
        sleep 1
      done;
      echo 'PostgreSQL is up and running';
      exec /app/main
      "
  db:
    image: postgres:16.1
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: