package chart

import "github.com/AurelienS/cigare/web/viewmodel"

templ TimeCumul(data viewmodel.TimeData) {
    <div id="chart_time">
		<div class="flex justify-between">
			<h2 class="text-2xl">Temps de vol</h2>
			@CumulativeOrDistinct("cumul","statistics/time", "#chart_time")
		</div>
		@Card() {
			@LineTime(data, "chart_time_canvas")
		}
	</div>
}