package page

import "github.com/AurelienS/cigare/web/template/layout"
import "github.com/AurelienS/cigare/web/template/component"
import "github.com/AurelienS/cigare/web/template/flight"
import "github.com/AurelienS/cigare/internal/model"
import squadView "github.com/AurelienS/cigare/web/template/squad"

type DashboardView struct {
	IsPartOfSquad bool
	Squads        []model.Squad
	NumberOfSquad string
	user          model.User
}

templ Dashboard(viewbag DashboardView) {
	@layout.Base(viewbag.user) {
		@component.PageContainer("dashboard") {
			@flight.UploadFlightForm("/flight", "body")
			<div class="flex flex-wrap justify-start gap-2">
				@component.StatCard(component.StatView{
					Title: "La fusée ailée",
					Description: "monte le plus rapidement",
					Icon: "🚀",
					Categories: []component.StatCategory{
						{
							Title:"100m", 
							Value: "2'35",
							Rank: "1",
							Percentile: "1",
						},
						{
							Title:"500m", 
							Value: "5'23",
							Rank: "123",
							Percentile: "13",
						},
						{
							Title:"1000m", 
							Value: "7'23",
							Rank: "12",
							Percentile: "60",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
				@component.StatCard(component.StatView{
					Title: "Navigateur des Gratte-ciels",
					Description: "survole le plus de zones urbaines",
					Icon: "🏙️",
					Categories: []component.StatCategory{
						{
							Title: "zones",
							Value: "15",
							Rank: "2",
							Percentile: "3",
						},
					},
				})
			</div>
			if !viewbag.IsPartOfSquad {
				<div class="text-center p-6 rounded-lg m-auto">
					<h2 class="text-2xl font-semibold text-gray-800 mb-4">Créer une Tribu</h2>
					<p class="text-gray-600">Vous n'etes pas encore membre d'un Tribu. Souhaitez-vous en créer une?</p>
					<a href="/create-squad" class="mt-4 inline-block px-6 py-2 bg-blue-500 hover:bg-blue-600 text-white font-bold rounded transition duration-300">Créer un Squad</a>
				</div>
			} else {
				<div class="flex flex-wrap">
					<!-- Future Dashboard Items Here -->
					for _,s := range viewbag.Squads {
						@squadView.SquadCard(s)
					}
				</div>
			}
		}
	}
}
