package layout

import "github.com/AurelienS/cigare/web/viewmodel"

templ Base(currentUser viewmodel.UserView, showNavigation bool ) {
	<!DOCTYPE html>
	<html lang="en" data-theme="mytheme">
		@Head()
		<body class="flex flex-col min-h-screen h-full bg-base-200 overflow-y-scroll">
			@Navbar(currentUser, showNavigation)
			<div id="content" class="flex-grow flex flex-col py-4 mt-20 container mx-auto ">
				{ children... }
			</div>
		</body>
	</html>
}
