package layout

import "github.com/AurelienS/cigare/web/view/userview"
import "github.com/AurelienS/cigare/web/viewmodel"

templ Navbar(currentUser viewmodel.UserView, showNavigation bool) {
	<nav class="flex justify-between py-6">
		<div>
			SoarSquad
		</div>
		<div>
			@userview.ProfilButton(currentUser)
		</div>
	</nav>
}
