package component

templ Button(text string) {
	<button
		class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
	>
		{ text }
	</button>
}

templ ButtonIgc(text string) {
	<button
		class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		onclick="document.getElementById('igcfile').click();"
		type="button"
	>
		{ text }
	</button>
}
