package logbookview

import "github.com/AurelienS/cigare/web/viewmodel"
import "github.com/AurelienS/cigare/web/view/layout"

templ Index( user viewmodel.UserView) {
	@layout.Base(user) {
		<div id="logbook_page" class="w-full my-4">
			{ children... }
		</div>
	}
}
