package logbookview

import "github.com/AurelienS/cigare/web/viewmodel"


templ Stat(view viewmodel.StatView) {
	<div class="stat">
		<div class="stat-title text-lg text-secondary">{ view.Title }</div>
		<div class="stat-value text-2xl">{ view.Value }</div>
		<div class="stat-desc">{ view.Description }</div>
	</div>
}
