package squad

import "github.com/AurelienS/cigare/web/template/component"

import "strconv"
import "github.com/AurelienS/cigare/internal/model"

func memberCount(squad model.Squad) string {
	return strconv.Itoa(len(squad.Members))
}

templ SquadCard(squad model.Squad) {
	@component.Card(squad.Name) {
		<div>{ memberCount(squad) } volants ({ squad.Members[0].GoogleID })</div>
	}
}
