package squad

import "github.com/AurelienS/cigare/web/template/component"

import "strconv"
import "github.com/AurelienS/cigare/internal/model"

func memberCount(squad model.Squad) string {
	return strconv.Itoa(len(squad.Members))
}

templ SquadCard(squad model.Squad) {
	<div>{ memberCount(squad) } volants</div>
	<div>17 tours a gauche et 23 tours a droite</div>
	<div>{ memberCount(squad) } volants</div>
}
