package flight

import "github.com/AurelienS/cigare/web/template/component"
import "github.com/AurelienS/cigare/internal/storage"

templ GliderCard(gliders []storage.Glider) {
	@component.CardInfo("Gliders", "text-blue-400") {
		if len(gliders) < 1 {
			<div class="text-white">No glider</div>
		} else {
			for _, glider := range gliders {
				{ glider.Name }
			}
		}
	}
}
