package flight

import "github.com/AurelienS/cigare/web/template/component"

templ GliderCard() {
	@component.CardInfo("Gliders", "text-blue-400") {
		Epsilon 9 <span class="text-white">32h</span>
		Phi beat <span class="text-white">22h</span>
	}
}
