name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup SSH connection
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_KEY }}

    - name: Deploy to Server
      run: |
        ssh -o StrictHostKeyChecking=no -p 2024 ${{ secrets.SSH_USER }}@${{ secrets.HOST }} << 'EOF'
          cd /home/aurel/cigare
          git pull
          docker compose down
          docker compose up --build -d
        EOF
